<!-- -------------------------------------------------------------------------------------------- --
    AsideSidebarMenuMainItens_01
---- ------------------------------------------------------------------------------------------- -->
@using AdmSindWebAppV02.Extensions.Identity

<li id="left-sidebar-menu-dashboard" class="treeview">
    <a href="#">
        <i class="fa fa-home"></i> <span>Home</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li id="left-sidebar-menu-dashboard-dashboardV1"><a href="@Url.Action("index", "Home")"><i class="fa fa-dashboard"></i> Principal </a></li>
    </ul>
</li>
